#LOGO{
	
	width:200px;
	float: left;
	position: absolute;
	top:10px;
}

/*shifts content down to clear logo */
#tone{
	margin-top:80px;
}

nav {
	color: white;
}

nav .brand-logo {
	z-index:5;
}

#foodAndDrink {
	display: none;
	padding: 10px 0 0 10px;
	background-color: #ddd;
	margin-top: 50px;
	margin-bottom: 100px;
}

#map {
	height: 200px;
	width: 100%;
}

.fancy{
	font-weight: bold;
	font-size: 1.5em;
}

#footerFix {
	color: black;
	background-color: #fff;
	box-shadow: 1px 0px 1px 1px rgba(1,2,1,1);
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
}

#center {
	text-align: center;
}

.navbar-fixed {
	position: absolute;
	z-index:5;
}

/*.nav-switch.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  box-shadow: 0 2px 4px rgba(0,0,0,.2) !important;
}

.nav-switch.scrolled a {
	color: #000 !important;
}*/

.places-img {
	margin: 5px;
	border: 5px;
	height: 183px;
	width: 183px;
}

h3 {
	background-color: red;
	width: 50%
}


/* on indexFaves */
h4 {
	background-color: black;
	margin: 10px, 10px;
}
